<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="https://api.weibo.com/oauth2/authorize?client_id=<%= client_id %>&redirect_uri=<%= redirect_uri %>">请求授权</a>
  </body>
</html>
